
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a;
    color: #f8fafc;
    -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for better dark mode aesthetic */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}
